
{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block body %}
    <section class="about">
        <div class="main-container">
            <div class="about-wrapper">
                <img src="static/goku.jpg" alt="">
                <div class="about-info">
                    <h1>About Us</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro ad, ut rem explicabo culpa
                        perspiciatis
                        corrupti saepe quaerat aperiam recusandae sint minus voluptatibus libero, tenetur ullam odio
                        veniam
                        adipisci error laborum distinctio. Ad, error.</p>
                </div>
            </div>

        </div>
    </section>

{% endblock body %}
