{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block body %}
<section class="hero">

    <div class="main-container">

        <div class="hero-container">

            <h1>Welcome to Suhas's Blog</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate, accusamus!</p>
            <a href="/blog" class="btn" role="button">See Blogs <i class="fa fa-arrow-right"></i></a>
        </div>
    </div>
</section>

<section class="popular-blogs">
    <div class="main-container">
        <h3>Our Popular Blogs</h3>
        <div class="blog-container">
        {% for post in allPosts %}
           <div class="blog-card">
                <div class="blog-info">
                    <h6>{{post.title}}</h6>
                    <p>{{post.content | truncatechars:100}}...</p>
                    <a href="/blog" class="blog-btn">See more...</a>
                </div>
            </div>

        {% endfor %}
         

        </div>
    </div>
</section>

{% endblock body %}