{% extends 'base.html' %}

{% block title %}Home{% endblock title %}
   
   {% block body %}
       <section class="hero">

        <div class="main-container">

            <div class="hero-container">

                <h1>Welcome to Suhas's Blog</h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate, accusamus!</p>
                <button class="btn">See Blogs <i class="fa fa-arrow-right"></i></button>
            </div>
        </div>
    </section>

    <section class="popular-blogs">
        <div class="main-container">
            <h3>Our Popular Blogs</h3>
            <div class="blog-container">

                <div class="blog-card">
                    <img src="static/pexels-pixabay-261577.jpg" alt="">
                    <div class="blog-info">
                        <h6>Post Title</h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem possimus blanditiis dolores
                            fuga beatae, ea rerum excepturi cupiditate!</p>
                        <a href="#" class="blog-btn">See more...</a>
                    </div>
                </div>

                <div class="blog-card">
                    <img src="static/pexels-pixabay-261577.jpg" alt="">
                    <div class="blog-info">
                        <h6>Post Title</h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem possimus blanditiis dolores
                            fuga beatae, ea rerum excepturi cupiditate!</p>
                        <a href="#" class="blog-btn">See more...</a>
                    </div>
                </div>

                <div class="blog-card">
                    <img src="static/pexels-pixabay-261577.jpg" alt="">
                    <div class="blog-info">
                        <h6>Post Title</h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem possimus blanditiis dolores
                            fuga beatae, ea rerum excepturi cupiditate!</p>
                        <a href="/blog.html" class="blog-btn">See more...</a>
                    </div>
                </div>


            </div>
        </div>
    </section>

   {% endblock body %}

  
 