{% extends 'base.html' %}

{% block title %}Login{% endblock title %}

{% block body %}
<div class="signup-container">
    <form class="signup-form" action="/login" method="POST">
        {% csrf_token %}
        <h3>Login</h3>
        <label for="username">Username</label>
        <input type="text" name="username" class="inputfield" autocomplete="off">
        <label for="Password">Password</label>
        <input type="password" name="password" class="inputfield" autocomplete="off">

        <button class="send-btn" type="submit">Send</button>


    </form>
</div>


{% endblock body %}