{% extends 'base.html' %}

{% block title %}Login{% endblock title %}

{% block body %}
<div class="signup-container">


    <form class="signup-form">
        <h3>SignUp</h3>
        <label for="username">Username</label>
        <input type="text" class="inputfield">

        <label for="fname">First Name</label>
        <input type="text" class="inputfield">

        <label for="lname">Last Name</label>
        <input type="text" class="inputfield">

        <label for="username">Email</label>
        <input type="email" class="inputfield">

        <label for="Password">Password</label>
        <input type="password" class="inputfield">

        <label for="password">Confirm Password</label>
        <input type="password" class="inputfield">

        <button class="send-btn" type="submit">Send</button>


    </form>

</div>


{% endblock body %}