{% extends 'base.html' %}

{% block title %}Blog{% endblock title %}

{% block body %}
<section class="main-box">

    <div class="main-container">

        <div class="main-text">

            <h1 class="blog-title">Our Blogs</h1>

        </div>
    </div>
</section>

<section class="popular-blogs">
    <div class="main-container">
        <h3>Our Popular Blogs</h3>
        <div class="blog-container">
            {% for post in allPosts %}
            <div class="blog-card">
                <div class="blog-info">
                    <h6> <a href="/blog/{{post.slug}}" class="postTitle">{{post.title}}</a></h6>
                    <p>{{post.content | truncatechars:150}}...</p>
                    <p class="timestamp">Posted by {{post.author}} on {{post.timestamp}}</p>
                    <a href="/blog/{{post.slug}}" class="blog-btn">Read more...</a>
                </div>
            </div>

            {% endfor %}


        </div>
    </div>
</section>

{% endblock body %}