{% extends 'base.html' %}

{% block title %}Post{% endblock title %}

{% block body %}
<section class="post">
    <div class="main-container">
        <div class="post-container">
            <img src="../static/pexels-pixabay-261577.jpg" alt="">
            <div class="post-info">
                <h2>Post Title</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae amet nam commodi aspernatur
                    debitis sapiente error nihil exercitationem officia dolor sed quas ad, laborum, inventore,
                    mollitia asperiores cupiditate facilis ratione consequatur praesentium! Illum temporibus tempore
                    impedit asperiores? Nihil, rerum cumque incidunt error, architecto minima soluta dolor saepe
                    eaque nostrum animi corporis. Voluptas, animi? Odio nemo a sed itaque quibusdam voluptate
                    ducimus assumenda alias vel, repellat ea ullam architecto fuga enim magnam distinctio velit sint
                    hic fugiat! Atque optio incidunt perspiciatis sapiente iure sit, perferendis fuga modi rerum
                    tempora animi illo aspernatur assumenda dignissimos, dolorum sed eveniet odio fugit. Fugit
                    fugiat tempore aspernatur voluptatum obcaecati. Iste laboriosam eaque sequi debitis! Magnam
                    perferendis vero distinctio possimus fugit repudiandae id, sit quos numquam rerum. Dolores
                    sapiente error, aut vero illum quia distinctio nihil accusamus tempora modi rerum rem minima.
                    Quisquam excepturi nam, rem sapiente suscipit facere ipsa expedita ad vel eaque ipsum sit
                    quibusdam placeat ex modi dolores corrupti tempora quo quas distinctio commodi. Voluptatibus ab
                    error minus est tempore necessitatibus odit inventore ipsam. Necessitatibus iusto velit natus
                    repudiandae ab nulla sapiente vero non quos at. Quidem maxime animi natus earum non quisquam
                    quia at maiores? Necessitatibus nihil optio sed saepe inventore assumenda, nemo at tempora
                    delectus nostrum quidem ut nesciunt vero velit earum molestiae commodi rem, a provident,
                    veritatis laboriosam quae! Ut, debitis? Atque sit alias a cum maxime quisquam quia eius officiis
                    sed minima ipsa voluptates explicabo, magni delectus omnis numquam labore laboriosam animi
                    doloremque consectetur. Maiores eos distinctio aperiam mollitia, aspernatur vitae, harum odio
                    neque quisquam inventore a facere modi ipsam iusto magnam, quibusdam id incidunt quam labore.
                    Mollitia sit perspiciatis voluptatem sunt reprehenderit facilis deleniti! Corrupti odio
                    consequuntur hic aliquam, sapiente necessitatibus nobis reprehenderit commodi culpa quam facere,
                    mollitia molestiae. Laborum enim ex consectetur eos, doloribus distinctio sit aliquid?</p>
            </div>
        </div>

    </div>
</section>

{% endblock body %}
